/* Main stylesheet for Frontend Mentor Portfolio */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Funnel Display', sans-serif;
}

h1{
    text-align:center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin:20px 0;
}

h2{
    padding: 12px 16px;
}

.project-list{
    margin: 2px;
    /* outline:1px solid black; */
    display:grid;
    grid-template-columns: repeat(auto-fill,  minmax(300px, 1fr));
    grid-template-rows: auto;
    gap:20px;
    padding:20px;
    background-color:hsla(60, 8%, 95%, 1.00);
}

.project-card{
    --card-padding: 16px;
    --card-radius: 8px;
    background:white;
    border:1px solid lightgray;
    border-radius:var(--card-radius);
    padding:var(--card-padding);
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.project-card-content{
    margin-top:12px;
}

.project-card-image{
    max-width:200px;
    
}

img{
    object-fit:cover;
    border-radius:calc(var(--card-radius) - var(--card-padding));
    width:100%;
}

.project-card a{
    margin-top:12px;
    display:inline-block;
    text-decoration:none;

}